
<li class="list-group-item bg-dark d-flex flex-row">
    <div class="flex-grow-1">
        <strong>@Model.Title</strong>
        <div><code class="text-break" style="line-break: anywhere;">@Model.Expression</code></div>
    </div>
    <button class="btn btn-outline-light btn-sm"
        @onclick="() => OnSelected(Model)"
        ><i class="fas fa-arrow-right"></i></button>
</li>


@code {
    [Parameter] public NodeTreePreviewDto Model { get; set; }
    [Parameter] public Action<NodeTreePreviewDto> OnSelected { get; set; }
}
