@if (!String.IsNullOrEmpty(Input.Title))
{
    <div class="node-input-heading">@Input.Title</div>
}
<div class="node-input-filled">
    <input type="text" class="input-field text-monospace" @bind-value="@Input.Value" @bind-value:event="oninput" />
</div>

@code {
    [Parameter] public InputString Input { get; set; } = null!;
}
