
<div class="node-input-heading">@Input.Title</div>
<div class="node-input-filled">
    <select @bind="@Input.ValueDisplayName" class="input-field">
        @foreach (string str in Input.Options)
        {
            <option value="@str">@str</option>
        }
    </select>
</div>

@code {
    [Parameter] public InputDropdown Input { get; set; } = null!;
}
