
<div title="@Data.Description">
    <DynamicComponent Type="InputViewModelProvider(Data)" Parameters="Params" />
</div>

@code {
    [Parameter] public INodeInput Data { get; set; } = null!;

    private Dictionary<string, object> Params => new()
        {
            ["Input"] = Data,
        };

    [CascadingParameter(Name = "InputViewModelProvider")]
    Func<INodeInput, Type> InputViewModelProvider { get; set; } = null!;
}
