@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --col-bg-2: hsl(218, 25%, 9%);
    --col-bg-1: hsl(218, 10%, 5%);

    --col-node-0: hsl(218, 13%, 18%);

    --col-node-default: hsl(194, 0%, 50%);

    --col-node-text: hsl(0,100%, 68%);
    --col-node-wildcard: hsl(24,90%, 68%);
    --col-node-characterset: hsl(48,80%, 70%);
    --col-node-anchor: hsl(72,80%, 74%);
    --col-node-whitespace: hsl(96,91%, 80%);
    --col-node-unicode: hsl(110,80%, 70%);
    --col-node-comment: hsl(112,92%, 67%);
    --col-node-or: hsl(153,94%, 53%);
    --col-node-concatenate: hsl(168,80%, 61%);
    --col-node-group: hsl(192,80%, 64%);
    --col-node-quantifier: hsl(216,79%, 70%);
    --col-node-reference: hsl(240,80%, 75%);
    --col-node-lookaround: hsl(264,80%, 70%);
    --col-node-if-else: hsl(275,80%, 70%);
    --col-node-flags: hsl(288,80%, 70%);
    --col-node-output: hsl(324, 87%, 66%);

    --col-field: hsl(218, 12%, 28%);
    --col-field-editable: hsl(218, 10%, 28%);

    --col-noodle: hsl(194, 0%, 50%);

    --col-text-strong1: #ffffff;
    --col-text-strong2: #eaeaea;
    --col-text-medium: #d0d0d0;
    --col-text-subtle: #acacac;

    --padding-main: 0vh;
}

html, body {
    font-family: 'Roboto', sans-serif;
    /*font-family: Consolas, Helvetica, monospace;*/
    color: var(--col-text-medium);
    background-color: var(--col-bg-2);
}

h1 {
    font-family: Roboto, sans-serif;
}

app {
    position: relative;
    /*display: flex;
    flex-direction: column;*/
}

.main {
    flex: 1;
    background-color: var(--col-bg-1);
    height:100vh;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.bottom-panels {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    font-family: Consolas, monospace;
}

.blazored-modal {
    background-color:var(--col-bg-2) !important;
    border:none !important;
    width:40rem !important;
}

.blazored-modal-close {
    color: var(--col-text-medium) !important;
}

.blazored-modal-header {
    padding-bottom: 0.5rem !important;
}

.panel {
    padding: 7px;
}

.viewport {
    position: relative;
    overflow: hidden;
    margin: var(--padding-main);
    min-height: 100px;
    min-width: 150px;
    background-color: var(--col-bg-2);
    /*margin-bottom: 15px;*/
}
    .viewport h1 {
        font-size: 1.5rem;
        /*padding: 5px;*/
    }

    .viewport .viewport-title-bar{
        /*background-color: rgba(0,0,0,0.2);*/
        height: 2.4rem;
    }

    .viewport.nodegraph {
        /*resize: vertical;*/
        flex: 1;
        /*height: 70%;*/
    }

    .viewport.replace-field {
        width: 30%;
        display: flex;
        flex-direction: column;
    }

    .viewport.search-text {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .viewport.replace-result {
        flex-grow: 1;
    }


.noodle {
    position: absolute;
    transform-origin: 0% 50%;
    stroke: var(--col-noodle);
    stroke-width: 3px;
    pointer-events: none;
    fill: none;
}
    .noodle.noodle-invalid {
        background-color: orangered;
        stroke: orangered;
    }

#tempNoodle {
    stroke-dasharray: 5;
}

.button-add-node {
    background-color: var(--col-node-default);
    /*border-radius: 6px;*/
    border: none;
    width: 100%;
    white-space: nowrap;
    margin: 3px;
}

    .button-add-node body{
        font-size:20px;
    }

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: hsl(218, 27%, 13%);
    width: 165px;
    overflow: auto;
    z-index: 1;
    box-shadow: 3px 0 17px #00000055;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .separator {
        width: 96%;
        /*margin: 6px auto 11px auto;*/
        height: 2px;
        background-color: hsl(213, 11%, 19%);
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding: var(--padding-main);
    height: 100%;
    max-height:100%;
    display: flex;
    flex-direction: column;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

input {
    background-color: var(--col-field);
    color: var(--col-text-medium);
    border: none;
}

.textarea {
    /*background-color: var(--col-field);*/
    color: var(--col-text-medium);
    width: 100%;
    resize: none;
    flex: 1;
}

.textbox {
    background-color: hsla(0, 0%, 0%, 0.09);
    border: 2px solid #00000052;
}

.output-regex-container {
    display: inline-flex;
    margin: 5px;
}

    .output-regex-container :first-child {
        border-radius: 5px 0 0 5px;
    }

    .output-regex-container :last-child {
        border-radius: 0 5px 5px 0;
    }

.output-regex {
    background-color: var(--col-field);
    color: var(--col-text-medium);
    border: none;
    font-size: 30px;
    font-family: Consolas, monospace;
    line-height: 34px;
    min-width: 250px;
    padding: 0px 5px;
    white-space: pre;
    height: auto;
}

.output-regex-button {
    width: 42px;
    min-width: unset;
    background-color: hsl(223, 13%, 44%);
    font-size: 24px;
}

    .output-regex-button:hover {
        background-color: hsl(222, 14%, 22%);
    }

.search-text-highlight, .search-textarea {
    padding: 3px;
    /*letter-spacing: 1px;*/
    line-height: 26px;
    width: 100%;
    background-color: transparent;
    resize: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    overflow: hidden;
    word-break: break-all;
}

.search-textarea {
    display: block;
    position: absolute;
    height: 100%;
    color: var(--col-text-medium);
    resize: none;
    border: none;
    white-space: pre-wrap;
    /*overflow: auto;*/
}

.search-text-highlight {
    word-wrap: break-word;
    color: transparent;
    font-size: 0;
    line-height: inherit;
}

    .search-text-highlight span, .search-text-highlight mark {
        white-space: pre-wrap;
        font-size: 1rem;
        line-height: 26px;
    }

.search-text-container {
    display: block;
    flex: 1;
    margin: 0;
    -webkit-text-size-adjust: none;
    width: 100%;
    overflow: auto;
    position: relative;
}

.search-text-backdrop {
    position: absolute;
    /*overflow: auto;*/
    pointer-events: none;
}

mark {
    border-radius: 4px;
    background-color: #065e61;
    color: transparent;
    padding: 0;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}
