
.gutter {
    /*background-color: #252525;*/
    /*background-repeat: no-repeat;
    background-position: 50%;*/
    /*opacity: 0.5;*/
}

    .gutter.gutter-horizontal {
        /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');*/
        cursor: col-resize;
        min-width: 7px;
    }

    .gutter.gutter-vertical {
        /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');*/
        cursor: row-resize;
        min-height: 7px;
    }
