<p>Input your own regular expression here to covert it to a node tree.</p>
<p>Warning: this feature is experimental and cannot be undone.</p>

<div class="search-text-container textarea textbox"
     style="
        height:6em;
        font-family: Consolas, monospace;">
    <textarea @bind-value="customRegex" @bind-value:event="oninput" class="search-textarea"
              style="height:100%"/>
</div>
<button class="output-regex output-regex-button" @onclick="SubmitForm"
        style="
            border-radius: 3px;
            float: right;
            margin-top: 10px;
            font-size: large"
        >Ok</button>

@code {
    string customRegex = "";

    [Parameter] public string previousRegex { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnParametersSet()
    {
        customRegex = previousRegex;
    }

    void SubmitForm()
    {
        BlazoredModal.Close(ModalResult.Ok(customRegex));
    }
}
