@inject IModalService ModalService
<p style="white-space: pre-wrap;">@InfoText</p>

@functions {
    [CascadingParameter] ModalParameters Parameters { get; set; }
    string InfoText { get; set; }

    protected override void OnInit()
    {
        InfoText = Parameters.Get<string>("InfoText");
    }
}
