@using Microsoft.JSInterop;
@inject INodeDragService NodeDragService;
@inject IJSRuntime  JSRuntime;


<div draggable="true" onmousedown="event.stopPropagation()" ondrag="tempNoodle.dragNoodle(event)" @ondragstart="OnDragStart" class="node-output-dot">
    <span class="outputtooltip">
        Output:<br />
        @{string output = Data.CachedValue;}
        <nobr>@(String.IsNullOrEmpty(output) ? "None" : output)</nobr>
    </span>
</div>

@functions{
    [Parameter] public INode Data { get; set; }

    protected override bool ShouldRender() => false;

    void OnDragStart(DragEventArgs e)
    {
        //TODO: Set drag image
        NodeDragService.OnStartNoodleDrag(Data, e);
    }
}