@using Microsoft.JSInterop;
@inject INoodleDragService NoodleDragService;
@inject IJSRuntime  JSRuntime;


<div draggable="true" onmousedown="event.stopPropagation()" ondrag="tempNoodle.dragNoodle(event)" class="node-output-dot"
     @ondragstart="OnDragStart" @ondragend="OnDragEnd">
    <span class="outputtooltip">
        Output:<br />
        @{string output = Data.CachedOutput;}
        <nobr>@(String.IsNullOrEmpty(output) ? "None" : output)</nobr>
    </span>
</div>

@functions{
    [Parameter] public INode Data { get; set; }

    void OnDragStart(DragEventArgs e)
    {
        //TODO: Set drag image
        NoodleDragService.OnStartNoodleDrag(Data, e);
    }
    
    void OnDragEnd(DragEventArgs e)
    {
        NoodleDragService.CancelDrag();
    }
}