@inject INodeHandler NodeHandler


<h3 style="margin:7px; display:inline-block;">Output: <span style="font-family:Consolas, monospace;">@NodeHandler.CachedOutput</span></h3>

@functions{
    //[Parameter] protected string Output { get; set; }

    protected override void OnInit()
    {
        base.OnInit();
        NodeHandler.OnOutputHasChanged += SetOutput;
    }

    public void SetOutput()
    {
        StateHasChanged();
    }
}