@inject INodeHandler NodeHandler

<span class="output-segment"
      style="color:@(Segment.Node?.CssColor ?? "inherit")"
       @onclick="@(() => NodeHandler.SelectNode(Segment.Node as INode))"
      >@Segment.Expression</span>

@code {
    [Parameter] public RegexSegment Segment { get; set; }
}
