@page "/"
@using Nodexr.Shared;
@using Nodexr.Shared.NodeTypes;
@using Nodexr.Shared.Components;
@inject INodeDragService NodeDragService
@inject INodeHandler  NodeHandler
@inject IJSRuntime JSRuntime
@inject IModalService ModalService

<div id="mainpanels">
    <div style="
        background-color: hsl(218, 18%, 18%);
        box-shadow: 0px 4px 7px #00000033;
        z-index: 10;
        display: flex;">
        <OutputDisplay />
        <div style="margin-left: auto;" class="top-row-link">
            <RegexOptionsDropdown />
        </div>
        <a @onclick="ShowHelpInfo" href="" @onclick:preventDefault @onclick:stopPropagation target="_blank"
           class="top-row-link">Help</a>
        <a href="http://github.com/jcparkyn/nodexr/" target="_blank"
           class="top-row-link">GitHub</a>
    </div>

    <div style="display:flex; flex-direction:row; flex:1; min-height:0;">
        <NodeList />
        @*<div style="width:6px; height:100%;"></div>*@
        <NodeGraph />
    </div>
</div>

<BottomPanels />

@functions{

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeAsync<object>(
            "jsFunctions.blazorHasRendered");
        }
    }

    protected override bool ShouldRender() => false;

    protected void ShowHelpInfo(MouseEventArgs e)
    {
        ModalService.Show<HelpModal>("How To Use");
    }

    protected void Refresh()
    {
        StateHasChanged();
    }
}
