@page "/"
@using RegexNodes.Shared;
@using RegexNodes.Shared.NodeTypes;
@using RegexNodes.Shared.Components;
@inject INodeDragService NodeDragService
@inject INodeHandler  NodeHandler
@inject IJSRuntime JSRuntime

@{Console.WriteLine("Updating Index"); }

<div>
    <OutputDisplay />
    @*<NodeBin />*@
</div>

<div id="mainpanels" style="display:flex; flex-direction:row;">
    <NodeList />
    <NodeGraph />
</div>

<BottomPanels />

@functions{

    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        JSRuntime.InvokeAsync<object>(
            "jsFunctions.blazorHasRendered");
    }

    protected void Refresh()
    {
        StateHasChanged();
    }
}
