@page "/"
@using RegexNodes.Shared;
@using RegexNodes.Shared.NodeTypes;
@using RegexNodes.Shared.Components;
@inject INodeDragService NodeDragService
@inject INodeHandler  NodeHandler
@inject IJSRuntime JSRuntime
@inject IModalService ModalService

@{Console.WriteLine("Updating Index"); }

<div style="background-color: hsl(218, 18%, 18%);
    box-shadow: 0px 4px 7px #00000033;
    z-index: 10;
    display: flex;">
    <OutputDisplay />
    <div style="margin:12px 6px 0 auto">
        <RegexOptionsDropdown />
    </div>
    <a @onclick="ShowHelpInfo" href="" @onclick:preventDefault @onclick:stopPropagation target="_blank"
       style="float:right; color:#0469d4; margin:12px 6px 12px 6px">Help</a>
    <a href="http://github.com/jcparkyn/nodexr/" target="_blank"
       style="float:right; color:#0469d4; margin:12px">GitHub</a>
</div>

<div id="mainpanels" style="display:flex; flex-direction:row;">
    <NodeList />
    @*<div style="width:6px; height:100%;"></div>*@
    <NodeGraph />
</div>

<BottomPanels />

@functions{

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeAsync<object>(
            "jsFunctions.blazorHasRendered");
        }
    }

    protected override bool ShouldRender() => false;

    protected void ShowHelpInfo(MouseEventArgs e)
    {
        ModalService.Show<HelpModal>("How To Use");
    }

    protected void Refresh()
    {
        StateHasChanged();
    }
}
