@page "/"
@using RegexNodes.Shared;
@using RegexNodes.Shared.NodeTypes;
@using RegexNodes.Shared.Components;
@inject INodeDragService NodeDragService
@inject INodeHandler  NodeHandler

@{Console.WriteLine("Updating Index"); }
<div>
    <OutputDisplay />
    <NodeBin />
</div>

<div style="display:flex; flex-direction:row; resize:vertical; overflow:hidden; height:80%;">
    <NodeList />
    <NodeGraph />
</div>

<BottomPanels />

@functions{
    protected void Refresh()
    {
        StateHasChanged();
    }
}
