<div>
    <p>
        Drag-and-drop nodes from the left panel to insert them into the main window.
        The final result/output of your nodes is displayed at the top left.
        Information about each node can be found by clicking the <i style="font-size:smaller; margin:0.2em" class="fas fa-info-circle"></i> button next to its title.
    </p>
    <h4>Constructing an expression:</h4>
    <p>
        The main concept is that the nesting behaviour of regex is expressed by connecting
        one node to the input of another, but items in sequence are connected using the <i>Previous</i>
        input at the top left of each node.
        The output expression will be empty unless one or more nodes are connected to the Output node.
    </p>
    <h4>Other features:</h4>
    <p>
        <ul>
            <li>Check the results of search and replace as you work, using the bottom panels.</li>
            <li>Start from an existing Regex using the <i>edit</i> (pencil) button at the top left.</li>
            <li>The <i>link</i> button can be used to share your expression or come back to it later.</li>
        </ul>
    </p>
</div>
