@using Nodexr.Shared.NodeTypes;
@using Blazored.Toast.Configuration;
@inject RegexReplaceHandler RegexReplaceHandler;

@inherits LayoutComponentBase


<div class="main">
    @*<div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>*@
    <BlazoredModal />
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"/>
    <div class="content">
        @Body
    </div>
</div>
