@using Microsoft.JSInterop;
@inject INoodleDragService NoodleDragService;
@inject IJSRuntime  JSRuntime;


<div draggable="true" onmousedown="event.stopPropagation()" class="node-output-dot-parent"
     @ondragstart="OnDragStart"
     @ondragend="OnDragEnd">
    <div class="node-output-dot">
        <span class="outputtooltip">
            Output:<br />
            @{string output = Data.CachedOutput.Expression;}
            <nobr>@(String.IsNullOrEmpty(output) ? "None" : output)</nobr>
        </span>
    </div>
</div>

@functions
{
    [Parameter] public INode Data { get; set; }

    void OnDragStart(DragEventArgs e)
    {
        //TODO: Set drag image
        NoodleDragService.OnStartNoodleDrag(Data, e);
    }

    void OnDragEnd(DragEventArgs e)
    {
        NoodleDragService.CancelDrag();
    }
}