@using Nodexr.Shared.NodeTypes;
@inject INodeHandler NodeHandler
@inject INodeDragService NodeDragService

<div class="viewport sidebar panel">
    <div class="node-list-heading">Nodes</div>
    @foreach (var category in exampleCategories)
    {
        <div class="node-list-subheading">@category.name</div>
        foreach (var node in category.nodes)
        {
            <NodeListPreview Data="node" />
        }
    }

</div>

@functions{
    protected Type[] nodeTypes { get; set; }

    List<(string name, Node[] nodes)> exampleCategories = new List<(string, Node[])>
    {
        ("Basics",
        new Node[]
        {
            new TextNode(),
            new GroupNode(),
        }),

        ("Wildcards",
        new Node[]
        {
            new WildcardNode(),
            new CharSetNode(),
            new WhitespaceNode(),
            new UnicodeNode(),
        }),

        ("Alternation",
        new Node[]
        {
            new OrNode(),
            new IfElseNode(),
        }),

        ("Repetition",
        new Node[]
        {
            new QuantifierNode(),
            new ReferenceNode(),
            new ConcatNode(),
        }),

        ("Zero-Width Anchors",
        new Node[]
        {
            new AnchorNode(),
            new LookaroundNode(),
        }),

        ("Other",
        new Node[]
        {
            new CommentNode(),
            new FlagNode(),
        }),

        ("Experimental",
        new Node[]
        {
            new DecimalNode(),
            new OptionalNode(),
            new ListNode(),
        }),
    };
}
