@inject INodeHandler NodeHandler

<h3>RevertParseDialog</h3>
<button @onclick="NodeHandler.RevertPreviousParse">Revert</button>

@code {
    

    public static RenderFragment GetRenderFragment() => @<RevertParseDialog/>;
    
}
